$link-color-default: #555E68;
$link-color-hover: #1792C7;
$link-color-disabled: #555e6880;

$button-static-blue: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
$button-static-blue-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185); 

$button-static-white: #FFFFFF;
$button-static-white-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);

$button-padding: 13px 28px;
$button-radius: 44px;

$color-burger-line: #1399CF;

$text-color: #2d3238;
