header.header
  a(href="#").header__logo-link: img(src="img/logo.svg", alt="logotype").header__logo
  nav.header__nav
    a(href="#").header__link Как это работает?
    a(href="#").header__link Для кого
    a(href="#").header__link Кейсы
    a(href="#").header__link Тарифы
    a(href="#").header__link Безопасность
  .header__controls
    .header__langs.langs
        a(href="#").langs__link.active RU
        a(href="#").langs__link EN
    button.header__connect-btn Подключиться
  .header__burger.burger
    span.burger__line
    span.burger__line
