section.info
    .info__wrapper
        .info__left 
            img.info__img(src="img/pic-4.png", alt="info")
        .info__right
            h2.info__title Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
            p.info__text Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о поступлении денег на счет компании.